body{
    font-family: Courier, monospace;
}


.sub_button{
    background-color: rgb(238, 18, 18);
    border: none;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.subscribed{
    background-color: grey;
    color: black;
}

.check{
    background-color: rgb(203, 223, 159);
    color: red;
}
